* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 20px;
}

header{
    margin-bottom: 50px;
}

header h1{
    font-size: 60px;
    background-color: #851944;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    border-bottom: 10px solid black ;
    text-transform: uppercase;
    margin-top: 0;
}

main {
    width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 940px;
}

/* main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    border-bottom: 10px solid black ;
    text-transform: uppercase;
} */

main a {
    color: #851944;
    
}

h2 {
    font-size: 40px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    clear: both;
}

p {
    text-align: justify;
    margin: 30px 0;
}

blockquote {
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;    
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}

cite {
    background-color:#D9E5E3;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center; 
}

nav h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: inherit; 
}


.icones-sociais li{
    display: inline-block;  
}

nav {
    padding: 20px;
}

aside a {
    color: inherit;
}

a {
    font-family: "Open Sans Condensed" Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: #F2FFFC;
    padding: 20px;
}

.icones-sociais a {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-indent: -9999px;
}

.github {
    background-image: url("img/github.png");
}

.twitter {
    background-image: url("img/twitter.png");
}

.linkedin {
    background-image: url("img/linkedin.png");
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

aside, img {
    float: right;
    width: 15%;
}

aside {
    clear: right;
}

main {
    float: left;
    width: 85%;
}